<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Website</title>
    <link rel="stylesheet" href="/static/css/home.css">
</head>
<body>
    <%- include('../layouts/topbar.html') %>

    <main>
        <section class="news-principal">
            <div class="news-image">

            </div>
            <div class="news-info">
                <small>Ilustração</small>
                <h1>Título da minha notícia</h1>
                <p>Informações a cerca da notícia apresentada aqui neste projeto utilizando ferramentas de desenvolvimento de sites modernos.</p>
                <span>Por <a href="">autor</a></span>
            </div>
        </section>
    </main>

</body>
</html>